{include file='public/head'}

<div class="uk-container uk-container-center  uk-margin-large-top">
    <div class="uk-panel uk-panel-box uk-panel-box-primary">
        <div class="uk-grid" style="margin-left: 0;margin-top: 10px;">
            {if $Think.session.user_uid == '1'}
            <button class="layui-btn layui-btn-sm layui-btn-normal" id="add">添加</button>
            {/if}
            <button class="layui-btn layui-btn-sm" id="refresh">刷新</button>
            <div class="uk-width-1-1" style="overflow: auto;padding: 0;">
                <div id="table" lay-filter="table"></div>
            </div>
        </div>
    </div>
</div>

{include file='public/js'}

<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-xs" lay-event="user">玩家</a>
  {if $Think.session.user_uid == '1'}
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
  {/if}
  
  {{#  if(d.auth > 2){ }}
  {{#  } }}
</script>

    <script>
    //一般直接写在一个js文件中
    layui.use(['layer', 'form', 'table'], function(){
      var layer = layui.layer
      ,form = layui.form
      ,table = layui.table;
      
      var tableIndex = table.render({
        elem: '#table'
        ,url: "{:url('rb/GetUserList')}" //数据接口
        ,page: true //开启分页
        ,loading: true
        ,limit: 30
        ,height: 'full-220'
        ,width: '100%'
        ,cols: [[ //表头
        //   {field: 'id', title: 'ID'}
          {field: 'UserName', title: '用户名', width:80, fixed: 'left'}
          ,{field: 'time', title: '失效日期', width:110} 
          ,{field: 'uid', title: '子帐号', width:80}
          ,{field: 'score', title: '积分', width:130}
          ,{field: 'txtStatus', title: '状态', width:60}
          ,{field: 'txtOnline', title: '在线', width:60}
          ,{field: 'txtOpen', title: '开盘', width:60}
          ,{field: 'tuoNum', title: '托数量', width:80}
          ,{field: 'fly', title: '飞单', width:60}
          ,{field: 'flyName', title: '飞单帐号', width:110}
          ,{field: 'flyPwd', title: '飞单密码', width:110}
        //   ,{field: 'type', title: '彩种'}
        //   ,{field: 'jstype', title: '结算号码', width:90}
        //   ,{field: 'jsj', title: '计算'}
          ,{field: 'fengpan', title: '封盘(秒)', width:90}
          ,{field: 'cancel', title: '取消(秒)', width:90}
          ,{field: 'FanShui', title: '返水', width:60}
          ,{field: 'PeiLv', title: '赔率', width:60}
          ,{field: 'teFanshui', title: '特码返水', width:90}
          ,{field: 'tePeilv', title: '特码赔率', width:90}
          ,{field: 'txtZhui', title: '追功能', width:80}
          ,{field: 'txtXiugai', title: '修改权限', width:90}
        //   ,{field: 'delay', title: '延报'}
        //   ,{field: 't', title: '特限额', width:80}
        //   ,{field: 'pt', title: '普通限额', width:90}
          ,{field: 'total', title: '单场总限额', width:100}
          ,{field: 'zheng', title: '正限额', width:80}
          ,{field: 'jiao', title: '角限额', width:80}
          ,{field: 'nian', title: '念限额', width:80}
          ,{field: 'tong', title: '通限额', width:80}
          ,{field: 'che', title: '车限额', width:80}
          ,{field: 'te', title: '单码限额', width:100}
          ,{field: 'danshuang', title: '单双限额', width:90}
          ,{field: 'daxiao', title: '大小限额', width:90}
          ,{field: 'fan', title: '番限额', width:80}
          ,{field: 'jia', title: '加限额', width:80}
          ,{field: 'zuigao', title: '玩家最高注额', width:120}
          ,{field: 'zuidi', title: '玩家最小注额', width:120}
          ,{width:160, align:'center', toolbar: '#barDemo', title: '操作'} 
        ]]
      });
      
      $('#add').on('click', function(data){
          showForm('');
      });
      
      $('#refresh').on('click', function(data){
        refresh();
      });
      
      
      function refresh() {
        tableIndex.reload({
			page: {curr: 1}
		});
      }
      
      function showForm(id) {
        var index = layer.open({
            title: id?'编辑':'添加',
            type: 2,
            shade: 0.2,
            maxmin:true,
            shadeClose: true,
            content: "{:url('rb/addEdit')}?id="+id,
            success: function(layero, index){
                layer.full(index);
            },
            end: function(index, layero){ 
              refresh(); 
            }  
        });
        $(window).on("resize", function () {
            layer.full(index);
        });
      }
      
      table.on('tool(table)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
          var data = obj.data; //获得当前行数据
          var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
          var tr = obj.tr; //获得当前行 tr 的DOM对象
         
          if(layEvent === 'del'){ //删除
            layer.confirm("确定将[" + data.UserName + "]删除么?", function(index){
                putAjax("{:url('rb/UpdatePanStatus')}", {"type":'del',"dlUserName":data.UserName}, function(res) {
                    refresh();
    				alertSuc('成功！');
                });
              obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
              layer.close(index);
            });
          } else if(layEvent === 'edit'){ //编辑
            showForm(data.id);
          } else if(layEvent === 'user'){ //编辑
            var index = layer.open({
                title: '玩家列表',
                type: 2,
                shade: 0.2,
                maxmin:true,
                shadeClose: true,
                content: "{:url('rb/user')}?id="+data.UserName,
                success: function(layero, index){
                    layer.full(index);
                }
            });
            $(window).on("resize", function () {
                layer.full(index);
            });
          }
        });

    });
    </script> 
</body></html>